<body>
    <div class="container mt-5">
        <h1 class="text-center">Page not found...</h1>
        <img class="img-fluid" src="/images/404.png" alt="" />
    </div>
</body>


<!-- 
    .img-fluid: responsive images
    max-width: 100%; height: auto; 
-->